<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    version="2.5"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Baraza Web</display-name>

	<context-param>
		<param-name>config_file</param-name>
		<param-value>hschool.xml</param-value>
	</context-param>
	<context-param>
		<param-name>web_title</param-name>
		<param-value>Nyamongo</param-value>
	</context-param>
	<context-param>
		<param-name>login_title</param-name>
		<param-value>Nyamongo</param-value>
	</context-param>
	<context-param>
		<param-name>app_db</param-name>
		<param-value>hschool</param-value>
	</context-param>
	<context-param>
		<param-name>repository_url</param-name>
		<param-value>http://localhost:8080/repository/webdav/umispic/</param-value>
	</context-param>
	<context-param>
		<param-name>rep_username</param-name>
		<param-value>repository</param-value>
	</context-param>
	<context-param>
		<param-name>rep_password</param-name>
		<param-value>baraza</param-value>
	</context-param>
	<context-param>
		<param-name>photo_access</param-name>
		<param-value>enter2012</param-value>
	</context-param>

	<resource-ref>
		<description>postgreSQL Datasource for Baraza</description>
		<res-ref-name>jdbc/database</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

	<resource-ref>
		<description>Mail Session</description>
		<res-ref-name>mail/Session</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BJSONData</servlet-name>
		<servlet-class>org.baraza.web.BJSONData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BJSONData</servlet-name>
		<url-pattern>/jsondata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BJSONData</servlet-name>
		<url-pattern>/jsongeneral</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BAppLauncher</servlet-name>
		<servlet-class>org.baraza.web.BAppLauncher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BAppLauncher</servlet-name>
		<url-pattern>/app.aua</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowReport</servlet-name>
		<servlet-class>org.baraza.web.BShowReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowReport</servlet-name>
		<url-pattern>/show_report</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GridExport</servlet-name>
		<servlet-class>org.baraza.web.BGridExport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridExport</servlet-name>
		<url-pattern>/grid_export</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BarazaFiles</servlet-name>
		<servlet-class>org.baraza.web.BWebFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarazaFiles</servlet-name>
		<url-pattern>/barazafiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BarazaFiles</servlet-name>
		<url-pattern>/putbarazafiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BarazaFiles</servlet-name>
		<url-pattern>/delbarazafiles</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WebPictures</servlet-name>
		<servlet-class>org.baraza.web.BWebPictures</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebPictures</servlet-name>
		<url-pattern>/barazapictures</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebPictures</servlet-name>
		<url-pattern>/delbarazapictures</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BarazaAJAX</servlet-name>
		<servlet-class>org.baraza.web.Bajax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarazaAJAX</servlet-name>
		<url-pattern>/ajax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BarazaAJAX</servlet-name>
		<url-pattern>/ajaxupdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuaRegistration</servlet-name>
		<servlet-class>com.dewcis.AuaRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuaRegistration</servlet-name>
		<url-pattern>/formdata</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Application</servlet-name>
		<servlet-class>com.dewcis.Application</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Application</servlet-name>
		<url-pattern>/application</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DPaypal</servlet-name>
		<servlet-class>com.dewcis.DPaypal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DPaypal</servlet-name>
		<url-pattern>/paypal</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>companyRegistration</servlet-name>
		<servlet-class>com.dewcis.companyRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>companyRegistration</servlet-name>
		<url-pattern>/company_post</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StudentsDashboard</servlet-name>
		<servlet-class>com.dewcis.StudentsDashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentsDashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>com.dewcis.Profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BarazaDataServer</servlet-name>
		<servlet-class>org.baraza.web.BDataServer</servlet-class>

		<init-param>
			<param-name>xmlfile</param-name>
			<param-value>api.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarazaDataServer</servlet-name>
		<url-pattern>/dataserver</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<display-name>Users Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Users Protected Area</web-resource-name>
			<url-pattern>/index.jsp</url-pattern>
			<url-pattern>/c_finance.jsp</url-pattern>
			<url-pattern>/c_admissions.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
           		<role-name>sysadmin</role-name>
			<role-name>admin</role-name>
			<role-name>rootadmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Applicant Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Applicant Protected Area</web-resource-name>
			<url-pattern>/a_admissions.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>applicant</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Student Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Student Protected Area</web-resource-name>
			<url-pattern>/a_students.jsp</url-pattern>
			<url-pattern>/a_statement.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>student</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Alumnae Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Alumnae Protected Area</web-resource-name>
			<url-pattern>/a_alumnae.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>student</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Lecturers Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Lecturers Protected Area</web-resource-name>
			<url-pattern>/a_lecturers.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>lecturer</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Guardians Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Guardians Protected Area</web-resource-name>
			<url-pattern>/a_guardians.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>guardian</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Industry Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Industry Protected Area</web-resource-name>
			<url-pattern>/a_industry.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Default login configuration uses form-based authentication -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Form-Based Authentication Area</realm-name>
		<form-login-config>
			<form-login-page>/logon.jsp</form-login-page>
			<form-error-page>/logonError.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
        <role-name>sysadmin</role-name>
		<role-name>user</role-name>
		<role-name>rootadmin</role-name>
		<role-name>admin</role-name>
		<role-name>applicant</role-name>
		<role-name>student</role-name>
		<role-name>alumnae</role-name>
		<role-name>lecturer</role-name>
		<role-name>guardian</role-name>
		<role-name>industry</role-name>
	</security-role>

	<error-page>
		<error-code>403</error-code>
		<location>/logonError.jsp</location>
	</error-page>

</web-app>
